

<div class="wrapper text">
    <div class="empty_left"></div>
    <div class="content_center">
        
        <h1>CONTRIBUTI, FINANZA AGEVOLATA</h1>
        <p>Lo Studio assiste le imprese e le informa circa le possibilità di beneficiare dei Bandi di finanziamento
            aperti periodicamente da Europa, Stato, Regioni e Camere di Commercio e fornisce assistenza
            nell’elaborazione del business plan per l’avvio d’impresa.</p>
        
        <p>Sono diversi gli strumenti messi a disposizione:</p>
        <h2>Agevolazioni fiscali</h2>
        <p>Possono essere principalmente in forma di credito d’imposta, di deduzione, di detrazione.</p>

        <h2>Contributi a fondo perduto</h2>
        <p>Sono erogazioni monetarie non soggetta all’obbligo di restituzione, tipicamente sotto forma di
            contributo percentuale sul totale delle spese ammissibili.</p>

        <h2>Contributi in conto interessi</h2>  
        <p>Consistono in contributi per l’abbattimento del tasso di interesse applicato ai finanziamenti bancari
            per operazioni di liquidità.</p>

        <h2>Finanziamenti agevolati</h2>
        <p>Finanziamento con tassi di interesse notevolmente inferiori rispetto ai tassi di mercato.</p>

        <h2>Garanzia del credito</h2>
        <p>Forma di aiuto nei confronti delle imprese al fine di rendere le stesse più affidabili e più finanziabili
            in sede di richiesta di finanziamenti, che può essere attivata solo a fronte di finanziamenti concessi
            da banche, società di leasing e altri intermediari finanziari.</p>

    </div>
    <div class="empty_right"></div>
</div>

<app-footer></app-footer>