<app-menu></app-menu>
<div class="wrapper">
    <div class="empty_left"></div>
    <div class="content_center">
        <div class="content-left">
            <h1>CONTATTI</h1>
            <h1><br />Dott Oberti Oscar</h1>
            <h2>Studio Commercialista</h2>
            <p>Via Antonio Gramsci 14/A</p>
            <p>24069 Trescore Balneario (BG)</p>
            <p><br />Telefono: +39 035 425 8565</p>
            <p>Fax: +39 035 425 8565</p>
            <p><br />Email: studio@commercialistaoberti.it</p>
        </div>
        <div class="content-right">
            <img class="logo-studio" src="../../../assets/img/logo-nolabel.png">
            <img class="logo-bt" src="../../../assets/img/logo_bottom.png">
        </div>
    </div>
    <div class="empty_right"></div>"
</div>
<app-footer></app-footer>