.wrapper {
    display: grid;
    grid-template-columns: 1.1fr 4fr 1.1fr;
    width: 100%;
    background: rgb(255, 255, 255);
    padding-top: 50px;
    // height: 430px;
}
.empty_left {
    grid-column: 1;
}
.content_center {
    grid-column: 2;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.empty_right{
    grid-column: 3;
}
a {
    color: rgb(112, 17, 17);
    border-bottom: 1px solid transparent;
}
a:hover {
    color: rgb(0, 0, 0);
    border-bottom: 1px solid black;
    transition: all 0.8s;
}
.logo-bt {
    margin-top: 20px;
    height: 190px;
}
.logo-studio {
    height: 190px;
    margin-right: 20px;
}
h2 {
    margin-bottom: 4px;
}

@media screen and (max-width: 800px) {
    .content_center {
        grid-column: 2;
        display: block;
        justify-content: center;
        align-items: center;
    }
}