<app-menu></app-menu>
<div class="wrapper">
    <div class="empty_left"></div>
    <div class="content_center">
        <h1>Contatti</h1>
        <p><strong>Telefono</strong>: +39.031.33.700.10<br />
        <strong>Fax</strong>: +39.031.29.97.56<br />
        <strong>e-mail</strong>: <a href="mailto:info@studiocavicchiolo.it">info@studiocavicchiolo.it</a></p>
        <p style="margin: 0;"><strong>DANTE CAVICCHIOLO</strong>: <a href="mailto:dante.cavicchiolo@commercialisticomo.it">dante.cavicchiolo@commercialisticomo.it</a></p>
        <div style="font-size: 80%; color: #777; margin: 0; padding: 0; line-height: 13px;">Dottore Commercialista<br />
        Revisore ufficiale dei conti<br />
        Mediatore Presso Ifac di Como<br />
        Consulente Tecnico del Giudice presso il Tribunale di Como</div>
        <p style="margin: 0;"><strong>ANDREA CANTALUPPI</strong>: <a href="mailto:andrea.cantaluppi@commercialisticomo.it">andrea.cantaluppi@commercialisticomo.it</a></p>
        <div style="font-size: 80%; color: #777; margin: 0; padding: 0; line-height: 13px;">Dottore Commercialista<br />
        Revisore ufficiale dei conti<br />
        Consulente Tecnico del Giudice presso il Tribunale di Como<br />
        Cultore di Bilancio e Principi Contabili &#8211; Università degli Studi Milano Bicocca</div>
        <div style="font-size: 80%; color: #777; margin: 0; padding: 0; line-height: 13px;"></div>
        <div style="font-size: 80%; color: #777; margin: 0; padding: 0; line-height: 13px;"></div>
        <p style="margin-top: 30px;"><strong>ELISABETTA CASARTELLI</strong>: <a href="mailto:elisabetta@commercialisticomo.it">elisabetta@commercialisticomo.it</a><br />
        <strong>VERONICA GALLI:</strong> <a href="mailto:veronica@commercialisticomo.it">veronica@commercialisticomo.it</a><br />
        <strong>MANUELA TAGLIABUE</strong>: <a href="mailto:manuela@commercialisticomo.it">manuela@commercialisticomo.it</a><br />
        <strong>CINZIA MASCIADRI</strong>: <a href="mailto:cinzia@commercialisticomo.it">cinzia@commercialisticomo.it</a></p>
        <p>&nbsp;</p>
    </div>
    <div class="empty_right"></div>"
</div>