

<div class="wrapper">
    <div class="empty_left"></div>
    <div class="content_center">

        <h1>PAGHE E CONTRIBUTI</h1>
        <p>Lo Studio avvalendosi anche dell'assistenza professionale di professionisti abilitati fornisce: </p>
        
        <h2><br />Elaborazione periodica dei cedolini di paga per lavoratori dipendenti subordinati e lavoratori parasubordinati, nonch&eacute; tutti gli adempimenti mensili connessi e, precisamente:</h2>
        <ul>
            <li>Predisposizione modelli F24;</li>
            <li>Predisposizione modelli di versamento per Enti diversi (Cassa Edile / Edilcassa / Fondi di<br />assistenza);</li>
            <li>Predisposizione ed invio telematico dei modelli DM10/2 e E-Mens all'INPS;</li>
            <li>Predisposizione ed invio telematico della denuncia mensile alla Cassa Edile/Edilcassa;</li>
            <li>Predisposizione di tutti gli allegati complementari alla elaborazione degli stipendi.</li>
        </ul>
        
        <h2><br />Adempimenti inerente gli obblighi fiscali, assicurativi e normativi a cadenza annuale e, precisamente:</h2>
        <ul>
            <li>Predisposizione delle certificazioni annuali;</li>
            <li>Predisposizione ed invio telematico dei modelli 770 Semplificato 'dipendenti'</li>
            <li>Predisposizione ed invio telematico delle "autoliquidazioni" INAIL (con la connessa<br />elaborazione dei modelli F24 di pagamento, e relativo file per l'invio telematico, e la gestione di eventuali rateazioni)</li>
            <li>Verifica obbligatorietà e gestione della presentazione del prospetto informativo per gli<br />adempimenti connessi al c.d. collocamento obbligatorio.</li>
        </ul>

        <h2><br />Consulenza in materia di lavoro inerente la gestione delle problematiche di:</h2>
        <ul>
            <li>Collocamento presso i Centri per l'Impiego;</li>
            <li>Denunce di infortunio presso l'INAIL;</li>
            <li>Sospensioni, variazioni e cessazioni di posizioni, da notificare agli Istituti Previdenziali ed<br />Assicurativi (INPS / INAIL / ENPALS / Fondi vari);</li>
            <li>Costi aziendali, situazione di accantonamento del TFR;</li>
            <li>Prospetti ed elaborati vari utili ai fini IRAP e Studi di Settore.</li>
        </ul>  

        <h2><br />Consulenza in materia di lavoro in merito all'aggiornamento dei rinnovi contrattuali, all'aggiornamento delle disposizioni normative in campo contributivo ed assicurativo, all'aggiornamento in campo giuridico amministrativo delle gestione del personale dipendente.</h2>
        <h2><br />La gestione, la predisposizione di autoliquidazioni INAIL per aziende che non occupano personale dipendente e/o parasubordinato e che pertanto non rientrano nella normale gestione mensile degli elaborati;</h2>
        <h2><br />L'eventuale gestione del modello 770 Semplificato "autonomi" per poter provvedere alla trasmissione telematica del modello 770 Semplificato "integrale";</h2>
        <h2><br />L'istituzione, mediante comunicazioni on-line, di nuove posizioni presso Istituti e/o Fondi;</h2>
    </div>
    <div class="empty_right"></div>
</div>

<app-footer></app-footer>

