
<app-menu></app-menu>
<div class="wrapper">
    <div class="empty_left"></div>
    <div class="content_center">
        <h1>LINKS</h1>
        <p><strong>UTILITA’</strong><br />
        &#8211; <a href="http://www1.agenziaentrate.gov.it/servizi/vies/vies.htm">Controllo partite Iva comunitarie</a><br />
        &#8211; <a href="https://telematici.agenziaentrate.gov.it/VerificaPIVA/Scegli.do?parameter=verificaPiva">Controllo partite Iva italiane</a><br />
        &#8211; <a href="http://www.agenziadogane.it/wps/wcm/connect/Internet/ed/Operatore/Software/Software+Intrastat/">Software Intrastat </a><br />
        &#8211; <a href="http://www.euribor-ebf.eu">Euribor</a><br />
        &#8211; <a href="http://www.bancaditalia.it/banca­_centrale/cambi/cambi">Tassi di cambio</a><br />
        &#8211; <a href="https://servizi.aci.it/CKInternet/SelezioneModello" target="_blank">Costi chilometrici ACI</a><br />
        &#8211; <a href="http://www.comuni.it">Autocertificazioni anagrafiche e atti di notorietà</a><br />
        &#8211;<a href="http://www.agenziaterritorio.it/site.php?id=590"> Osservatorio del Mercato Immobiliare</a></p>
        <p>GUIDE FISCALI<br />
        &#8211; <a href="http://www.agenziaentrate.gov.it/wps/content/nsilib/nsi/agenzia/agenzia+comunica/prodotti+editoriali/guide+fiscali/agenzia+informa">Le agevolazioni fiscali per il risparmio energetico</a><br />
        &#8211; <a href="http://www.agenziaentrate.gov.it/wps/content/nsilib/nsi/agenzia/agenzia+comunica/prodotti+editoriali/guide+fiscali/agenzia+informa">Ristrutturazioni edilizie: le agevolazioni fiscali</a></p>
        <p>ISTITUZIONI ED ENTI<br />
        &#8211; <a href="http://www.abi.it">ABI</a><br />
        &#8211; <a href="http://www.agenziaentrate.gov.it/wps/portal/entrate/home">Agenzia delle Entrate</a><br />
        &#8211; <a href="http://www.bancaditalia.it">Banca d’Italia</a><br />
        &#8211; <a href="http://www.co.camcom.gov.it/">Camera di Commercio di Como</a><br />
        &#8211; <a href="http://www.mi.camcom.gov.it">Camera di Commercio di Milano</a><br />
        &#8211;<a href="http://www.confindustria.it"> Confindustria </a><br />
        &#8211; <a href="http://www.agenziadogane.it">Agenzia delle Dogane</a><br />
        &#8211; <a href="http://www.finanze.it">Ministero dell’Economia e delle Finanze</a><br />
        &#8211; <a href="http://www.inail.it">Inail</a><br />
        &#8211; <a href="http://www.inps.it">Inps</a><br />
        &#8211; <a href="http://www.enasarco.it">Enasarco</a><br />
        &#8211; <a href="http://www.istat.it">Istat</a><br />
        &#8211; <a href="http://www.odc.co.it">Ordine dei dottori commercialisti e degli esperti contabili di Como</a><br />
        &#8211; <a href="http://www.parlamento.it">Parlamento</a><br />
        &#8211;<a href="http://www.agenziaterritorio.it"> Agenzia del Territorio</a></p>
    </div>
    <div class="empty_right"></div>
</div>