

<div class="wrapper">
    <div class="empty_left"></div>
    <div class="content_center">

        <h1>OPERAZIONI SOCIETARIE</h1>
        <ul>
            <li>Costituzioni di enti sociali e variazioni di capitale sociale: consulenza scelta della forma giuridica
                più adatta alle necessità del business ed ai regimi di responsabilità patrimoniali ed assistenza
                innanzi al notaio;</li>
            <li>Cessione quote S.r.l. senza intervento del notaio;</li>
            <li>Regolamentazione che disciplina gli amministratori</li>
            <li>Attività preliminare alla costituzione societaria: verifica delle condizioni di legalità e
                adempimenti;</li>
            <li>Evoluzione delle vicende societarie (ad esempio attraverso trasformazioni da SNC o SAS o da
                ditta individuale in SRL o SPA,)</li>
            <li>Domiciliazione societaria.</li>
            <li>Assunzione di incarichi di sindaco e revisore.</li>
        </ul>
        
    </div>
    <div class="empty_right"></div>
</div>

<app-footer></app-footer>