/* PULSANTI MENU */

.menu-wrapper {
  z-index: 10000;
  position: sticky;
  top: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 1.3fr 4fr 0.6fr 0.6fr 0.6fr 0.8fr 0.8fr 1.0fr 2.2fr;
  background: rgb(255, 255, 255);
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(168, 168, 168, 0.48);
  -moz-box-shadow: 0px 1px 10px 0px rgba(168, 168, 168, 0.48);
  box-shadow: 0px 1px 10px 0px rgba(168, 168, 168, 0.48);
}
.elenco{
  text-decoration: none;
  padding: 4px;
  transition: all 0.8s;
  cursor: pointer;
  color: rgb(53, 52, 52);
  border: 2px solid transparent;
  margin-right: 0;
  font-size: 1.2em;
  float: left;
}
.elenco:hover{
  border-bottom: 2px solid rgb(112, 17, 17);
}

.elenco1 {
  grid-row: 1;
  grid-column: 1;
}
.elenco7 {
  grid-row: 1;
  grid-column: 2;
  padding-top: 3px;
}
.elenco-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title1 {
  color: rgb(53, 52, 52);
}
.title2 {
  color: rgb(112, 17, 17);
  font-weight: bold;
}
.title1, .title2 {
  text-transform: uppercase;
  font-size: 20px;
  padding-top: 40px;
}
.logo {
  width: 140px;
  margin-top: -19px;
}
.title-container {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
}
.title-logo {
  display: flex;
  align-items: initial;
  justify-content: center;
  grid-column: 1;
}
.title-top {
  grid-column: 2;
  display: block;
  align-items: center;
  justify-content: center;
}



@media screen and (max-width: 600px) {
  .menu-wrapper div:not(:first-child) {display: none;}
  .menu-wrapper .icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
    .menu-wrapper.elenco{position: relative;}
    .menu-wrapper.elenco a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .menu-wrapper.a {
      float: none;
      display: block;
      text-align: left;
    }
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

.dropdown-content {
  display: none;
  margin-top: 360px;
  position: absolute;
  background-color: #ffffff;
  min-width: 245px;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(168, 168, 168, 0.48);
  -moz-box-shadow: 3px 3px 10px 0px rgba(168, 168, 168, 0.48);
  box-shadow: 3px 3px 10px 0px rgba(168, 168, 168, 0.48);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  border-bottom: 1px solid rgb(236, 236, 236);
  display: block;
}

.dropdown-content a:hover {background-color: rgb(236, 236, 236);}

.dropdown:hover .dropdown-content {transition: all 0.8s; display: block;}

