<mat-toolbar class="custom-toolbar" >
  <div fxShow="true" fxHide.lt-md="true">
  <div class="menu-wrapper">
    <div class="elenco-element elenco7">
      <a class="title" href="#">
      <div class="title-container">
        <div class="title-logo">
          <img class="logo" src="../../../assets/img/logo.png">
        </div>
        <div class="title-top">
          <div class="title-top-1">
            <span class="title1">DOTT. COMMERCIALISTA</span>
          </div>
          <div class="title-top-2">
            <span class="title2">OBERTI OSCAR</span>
          </div> 
        </div>       
      </div>
      </a>
    </div>
    <div class="elenco1"> </div>
    <div class="elenco-element">
      <a class="elenco" routerLink="/home" routerLinkActive="active">Home</a>
    </div>    
    <div class="elenco-element dropdown">
      <a class="dropbtn elenco">Servizi</a>
      <div class="dropdown-content">
        <a routerLink="/lavoricontabili" routerLinkActive="active">Lavori contabili, bilanci e dichiarazioni</a>
        <a routerLink="/opsocietarie" routerLinkActive="active">Operazioni societarie</a>
        <a routerLink="/paghecontributi" routerLinkActive="active">Paghe e contributi</a>
        <a routerLink="/finanza" routerLinkActive="active">Contributi, finanza agevolata</a>
        <a routerLink="/digitali" routerLinkActive="active">Servizi digitali</a>
        <a routerLink="/altri" routerLinkActive="active">Altri servizi</a>
      </div>
    </div>
    <div class="elenco-element">
      <a class="elenco" routerLink="/contatti" routerLinkActive="active">Contatti</a>
    </div>
    <div class="elenco-element">
      <a class="elenco" routerLink="/areaclienti" routerLinkActive="active">Area Clienti</a>
    </div>
  </div>
</div>
<div fxShow="true" fxHide.gt-sm="true">
  <a  (click)="mostra()">Menu</a>
</div>
</mat-toolbar>


<!--navbar laterale-->
<ng-container *ngIf="visibile==true">

  <div class="elenco-element">
    <a class="elenco"(click)="mostra()">Chiudi</a>
  </div> 
    <div class="elenco-element">
      <a class="elenco" routerLink="/home" routerLinkActive="active">Home</a>
    </div>
 
    <div class="elenco-element dropdown">
      <a class="dropbtn elenco">Servizi</a>
      <div class="dropdown-content">
        <a routerLink="/lavoricontabili" routerLinkActive="active">Lavori contabili, bilanci e dichiarazioni</a>
        <a routerLink="/opsocietarie" routerLinkActive="active">Operazioni societarie</a>
        <a routerLink="/paghecontributi" routerLinkActive="active">Paghe e contributi</a>
        <a routerLink="/finanza" routerLinkActive="active">Contributi, finanza agevolata</a>
        <a routerLink="/digitali" routerLinkActive="active">Servizi digitali</a>
        <a routerLink="/altri" routerLinkActive="active">Altri servizi</a>
      </div>
    </div>
    <div class="elenco-element">
      <a class="elenco" routerLink="/contatti" routerLinkActive="active">Contatti</a>
    </div>
    <div class="elenco-element">
      <a class="elenco" routerLink="/areaclienti" routerLinkActive="active">Area Clienti</a>
    </div>
    
    
  
</ng-container>
  
