.size{
    img{
        margin-top: -7px;
        margin-bottom: -6px;
        margin-left: 280px;
        margin-right: 160px;
        height: 100px;
        width: 372px;
    }
}

navbar{
    min-width: 700px;
}
.nav-link {
    background-color: white !important;
    margin-left: 6px;
    color: rgb(68, 68, 68) !important;
}
.nav-link:hover {
    background-color: rgb(246, 246, 246) !important;
    margin-left: 6px;
    border-radius: 4px;
    color: rgb(0, 0, 0) !important;
    padding-left: 26px;
    padding-right: 26px
}
.navbar .navbar-expand-lg .navbar-light .white {
    // min-width: 700px;
    position: sticky;
}

@media screen and (max-width: 1500px) {
    .size{
        img {
            margin-left: 0px;
            width: 70%;
            height: 70%;
        }
      }
}

@media screen and (max-width: 628px) {
    .size{
        img {
            height: 88px;
            width: 328px;
        }
      }
}
