<app-menu></app-menu>

<div class="wrapper">
    <div class="empty_left"></div>
    <div class="content_center">
        <h1>ALTRI SERVIZI</h1>
        <p>Richieste di rimborso IVA annuale e infrannuale.</p>
        <p>Rilascio Visto di Conformità;</p>
        <p>IMU dichiarazioni e versamenti;</p>
        <p>INTRASTAT e ESTEROMETRO</p>
        <p>Compilazione ed invio dati al sistema tessera sanitaria (TS)</p>
        <p>Dichiarazioni d’intento</p>
        <p>Assistenza, consulenza ed evasione pratiche riferite a: avvisi bonari, iscrizioni a ruolo, avvisi di liquidazione.</p>
        <p>Richieste di rateizzazione, di sgravio, di sospensione d'imposta o sanzioni, ravvedimenti operosi.</p>
        <p>Visure e ricerche</p>
        <p>Pratiche Registro Imprese e Suap</p>
        <p>Locazioni</p>
    </div>
    <div class="empty_right"></div>
</div>

<app-footer></app-footer>