

<div class="wrapper">
    <div class="empty_left"></div>
    <div class="content_center">

        <h1>LAVORI CONTABILI, BILANCI E DICHIARAZIONI</h1>
        <h2>- &nbsp;&nbsp;&nbsp; OPZIONE CONTABILIT&Agrave; PRESSO LO STUDIO (c.d. &ldquo;interna&rdquo;)</h2>
        <p>Lo Studio propone al cliente la soluzione dei <u>servizi contabili integrati</u> ad onorario forfetario annuale unico, che oltre alla contabilit&agrave; include le altre prestazioni ad essa normalmente collegate:</p>
        <ul>
            <li>Redazione del bilancio (ove richiesto dalla legge)</li>
            <li>Dichiarazioni dei redditi ai fini IRES e IRPEF,</li>
            <li>Dichiarazioni ai fini IRAP</li>
            <li>Dichiarazioni IVA annuali</li>
            <li>Dichiarazione IVA periodiche,</li>
            <li>Certificazioni uniche rilasciate dai sostituti d&rsquo;imposta e modello 770 (in relazione a soggetti diversi da dipendenti ed assimilati);</li>
            <li>Predisposizione dei modelli di pagamento F24</li>
            <li>Assistenza alla fatturazione elettronica, consulenza ed assistenza contabile, fiscale e societaria ordinaria, ecc..</li>
        </ul>
        <h2>- &nbsp;&nbsp;&nbsp; OPZIONE CONTABILIT&Agrave; PRESSO SEDE DEL CLIENTE (c.d. &ldquo;esterna&rdquo;)</h2>
        <p>Scegliendo questa opzione, la materiale rilevazione dei fatti aziendali resta a carico del cliente, cosi come le obbligazioni inerenti e conseguenti agli adempimenti civili e tributari, e lo Studio propone al cliente la soluzione <u>prestazioni collegate alla contabilit&agrave;</u>:</p>
        <ul>
            <li>Redazione del bilancio (ove richiesto dalla legge),</li>
            <li>Dichiarazioni dei redditi ai fini IRES e IRPEF, dichiarazioni ai fini IRAP dichiarazioni IVA annuali</li>
        </ul>
        <p>oltre alla consulenza ed assistenza continuativa e generica aziendale e societaria e fiscale.</p>
                
    </div>
    <div class="empty_right"></div>
</div>

<app-footer></app-footer>