<p>home works!</p>

<!--carosello figo (non il primo inutile)-->

<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="prima immagine">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="seconda immagine">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="terza immagine">
    </mdb-carousel-item>
  </mdb-carousel>

  <!--appena ti passa le immagini cambiale e mettile nella cartella assets del progetto e poi cambia il percorso-->