
<div class="wrapper text">
    <div class="empty_left"></div>
    <div class="content_center">
        <h1>SERVIZI DIGITALI</h1>

        <h2>Aruba SPID – Riconoscimento di persona</h2>
        <p>Lo Studio offre il servizio di riconoscimento di persona abbinato ad Aruba SPID.</p>
        <p>la procedura per ottenere le credenziali di accesso valide per tutti i portali della Pubblica Amministrazione (ad
            esempio Agenzia delle Entrate, INPS, Comune, Agenzia delle Riscossioni, etc.).</p>
        
        <h2>PEC</h2>
        <p>Lo Studio offre il servizio di attivazione della PEC. La posta elettronica certificata consente di:</p>
        <ul>
            <li>Inviare e-mail con valore legale, in sostituzione della posta cartacea (art. 14, comma 3DPR 445/2000);</li>
            <li>Attestare il momento di invio e di consegna del messaggio;</li>
            <li>Attestare il contenuto del messaggio;</li>
            <li>Identificare in maniera sicura il mittente;</li>
            <li>Garantire l’integrità e la confidenzialità del messaggio inviato.</li>
        </ul>
        <p>LA CASELLA PEC E’ OBBLIGATORIA PER TUTTE LE IMPRESE E PER TUTTI I PROFESSIONISTI ISCRITTI AD ALBO.</p>
        
        <h2>Firma Digitale Con Smart Card (CNS)</h2>
        <p>Lo Studio è incaricato alla registrazione (I.R.) per lo svolgimento delle attività di rilascio di certificati digitali di
            autenticazione e di sottoscrizione su dispositivo CNS.</p>
        <p>La firma digitale è l'equivalente elettronico di una firma apposta su carta e ne assume lo stesso valore legale. E&#39;
            associata al documento informatico e lo arricchisce di informazioni che attestano l&#39;integrità, l&#39;autenticità e la non
            ripudiabilità dello stesso.</p>

        <h2>Fattura Elettronica e Archivio Digitale</h2>    
        <p>Lo Studio propone un pacchetto di servizi integrati fra di loro:</p>
        <ul>
            <li>un programma di fatturazione, utilizzabile attraverso un applicazione web, dal computer o dal tablet, con
                il quale è possibile creare e spedire le fatture in modo semplice ed efficace. Con il programma di fatturazione è
                possibile:</li>
                <ul>
                    <li>creare le fatture in modo facile e veloce; registrare incassi;</li>
                    <li>gestire preventivi, documenti di trasporto, fatture accompagnatorie, note di credito e altri documenti;</li>
                    <li>spedire le fatture e gli altri documenti via e-mail direttamente dal software;</li>
                </ul>
            <li>l’assegnazione del cosiddetto “Codice Destinatario” per la ricezione delle fatture elettroniche da
                comunicare ai vostri fornitori;</li>
            <li>la trasmissione e ricezione in modalità automatica delle fatture emesse e ricevute;</li>
            <li>il servizio di invio e-mail al cliente con il link alla fattura per la consultazione in formato leggibile;</li>
        </ul>
        <p>Viene inoltre messa a disposizione un’area personale sul Web, sicura e protetta, dove poter</p>
        <ul>
            <li>scaricare, oltre alle fatture inviate/ricevute, i documenti fiscali (es: dichiarazioni, mod.F24, etc..),
                contabili e gli altri documenti elaborati dallo Studio quali circolari, modulistica etc...;</li>
            <li>caricare i documenti da inviare allo Studio (fermo restando la possibilità di consegnarli in maniera
                tradizionale).</li>
        </ul>

        <h2>Contabilita' Aziendale In Cloud</h2>
        <p>Consente al cliente l’utilizzo delle applicazioni necessarie per ottenere un corretto funzionamento dei servizi di
            elaborazione dati aziendali (a titolo esemplificativo la fatturazione, l’elaborazione della contabilità, la gestione dei
            cespiti).</p>
        <p>Il Cliente verrà dotato direttamente di uno specifico “pacchetto di utilità” (da installare sul posto di lavoro) per
            gestire la connessione e l’accesso ai servizi.</p>
        <p>Ecco i principali vantaggi:</p>
        <ul>
            <li>zero necessità di aggiornare il software o di acquistare nuovi e più potenti apparecchiature
                hardware per far fronte alla propria crescita dimensionale;</li>
            <li>zero infrastrutture tecnologiche aggiuntive necessarie;</li>
            <li>zero costi per la sicurezza dei dati;</li>
            <li>accessibilità ovunque sul territorio ai propri dati e programmi (quindi massima libertà di prestare
                i propri servizi in qualunque luogo, anche da casa) 365 giorni l’anno e 7 giorni su 7 garantita;</li>
            <li>continuità di servizio grazie alla struttura tecnologica completamente ridondante;</li>
            <li>zero rischi di danni reputazionali causati dalla perdita o furto di dati;</li>
            <li>sicurezza degli accessi: tutti gli accessi sono protetti da un sistema di login e password a due
                livelli.</li>
        </ul>
    </div>
    <div class="empty_right"></div>
</div>

<app-footer></app-footer>
