.wrapper {
    display: grid;
    grid-template-columns: 1.1fr 4fr 1.1fr;
    width: 100%;
    background: rgb(255, 255, 255);
    padding-top: 50px;
    padding-bottom: 30px;
}
.empty_left {
    grid-column: 1;
}
.content_center {
    grid-column: 2;
}
.empty_right{
    grid-column: 3;
}
.send {
  font-weight: bold;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 6px 65px 6px 65px;
    box-shadow: 3px 3px 6px rgb(192, 192, 192);
    border-radius: 2px;
    margin-top: 20px;
}
.send:hover {
    transition: all 0.4s;
    background-color:  rgb(41, 41, 41);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(41, 41, 41);
    box-shadow: 3px 3px 8px rgb(192, 192, 192);
}
.send a {
    text-decoration: none;
    color: white;
}
.send:hover a {
    transition: all 0.4s;
    color: black;
}
.link {
    color: rgb(112, 17, 17);
    border-bottom: 1px solid transparent;
    font-size: 1em;
}
.link:hover {
    color: rgb(0, 0, 0);
    border-bottom: 1px solid black;
    transition: all 0.8s;
}
.highlight {
    color: rgb(112, 17, 17);
    border-bottom: 1px solid transparent;
}
input[type='checkbox'] {
    margin-right: 6px;
}
