<app-menu></app-menu>
<div class="wrapper">
    <div class="empty_left"></div>
    <div class="content_center">
        <h1>AREA CLIENTI</h1>
        <p>Questa è la pagina di accesso ai servizi on line riservati ai Clienti dello Studio dalla quale è possibile accedere a:</p>
        <ul>
            <li>Modelli di dichiarazioni fiscali</li>
            <li>Documenti ed elaborati contabili</li>
            <li>Visure camerali richieste allo Studio</li>
            <li>Circolari informative dello Studio</li>
            <li>Modelli di documenti e prospetti di uso comune e ricorrente</li>
        </ul>
        <h2>Se avete dimenticato la password inviate un’email all’indirizzo <span class="highlight">studio@commercialistaoberti.it</span>; un operatore risponderà quanto prima.</h2>
            
            <p>È responsabilità dell’utente mantenere segreti i propri dati di accesso (nome utente e password).</p>
            <p>Se l’utente sospettasse o avesse notizia che terze persone siano entrati in possesso dei suoi dati di accesso, deve informare tempestivamente lo Studio che provvederà a cambiare i dati di accesso.</p>
        
        <p><br /><br />
            <input type="checkbox" (click)="accetta()">
            Dichiaro di avere letto e accettato la <a class="link" href="../../../assets/documents/Privacy.docx">Informativa sulla privacy e le Condizioni generali d’uso</a>.
        </p>
        
        <a href="https://serviziweb.datev.it/wa" *ngIf="privacy==true">
            <button type="submit" class="send">Entra nell'area clienti</button>
        </a>
    </div>
    <div class="empty_right"></div>
</div>


<app-footer></app-footer>


 

