<p>home works!</p>

<!--carosello figo (non il primo inutile)-->

<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(6).jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
    </mdb-carousel-item>
</mdb-carousel>

  <!--appena ti passa le immagini cambiale e mettile nella cartella assets del progetto e poi cambia il percorso il carosello è da rimpicciolire-->

  <agm-map [latitude]="map.lat" [longitude]="map.lng" style="height: 300px">
    <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
  </agm-map>