<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!--carosello figo (non il primo inutile)-->
<div class="carosello">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" width="200px">
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../assets/img/piazza.png" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../assets/img/lago.png" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="../../../assets/img/biblioteca.png" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>
</div>

<!-- presentazione -->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="work">
  
  <div class="w3-third">
    <div class="w3-card">
    <img src=""  style="width:100%">
    <div class="w3-container">
    <h1>Il nostro lavoro</h1>
    <p>Lo Studio OBERTI, opera nel campo della consulenza aziendale, fiscale, contabile e societaria e si
    rivolge non solo alle aziende e agli imprenditori, artigiani, commercianti, agricoli ma anche ai privati e
    agli enti non profit come associazioni, associazioni sportive.</p>
  </div>
  </div>
</div>

<div class="w3-third">
  <div class="w3-card">
    <img src=""  style="width:100%">
    <div class="w3-container">
    <h1>La Nostra passione</h1>
    <p>La passione, la determinazione, sono i motori del lavoro ma ciò che caratterizza lo Studio è la
      tempestività e la personalizzazione dell’assistenza. </p>
    </div>
    </div>
  </div>

  <div class="w3-third">
  <div class="w3-card">
    <img src=""  style="width:100%">
    <div class="w3-container">
    <h1>I Nostri Servizi</h1>
    <p>I servizi dello Studio si estendono alla assistenza al contribuente sotto tutti i profili amministrativi e
      fiscali: tenuta della contabilità, redazione del bilancio di esercizio, redazione delle dichiarazioni dei
      redditi, modello unico, 730, 770, modello iva, rilascio visti di conformità.</p>

    </div>
    </div>
  </div>
</div>
  
<div class="wrapper2">
  <div class="empty-left"></div>
  <div class="content-center">
    <div class="content-top">
      <div class="w3-col">
          <img src=""  style="width:100%">
          <div class="w3-container">
            <h1>IL DR. OBERTI OSCAR E' <span class="rosso">ISCRITTO ALL'ALBO</span></h1>
            <p>Iscritto all’Albo dei Dottori Commercialisti e degli Esperti Contabili di Bergamo al n.1084/A.
              <br />Iscritto al Registro dei Revisori Ufficiali dei Conti dal 1999.
              <br />Iscritto nell&#39;Elenco dei Revisori dei Conti degli Enti Locali.</p>
          </div>
      </div>
    </div>
  </div>
  <div class="empty-right"></div>
</div>


  <div class="wrapper">
    <div class="empty-left"></div>
    <div class="content-center">

      <h1>PERCHE' E' IMPORTANTE ESSERE ISCRITTI ALL' ALBO?</h1>

      <ul>
        <li>Il dottore commercialista ha l'obbligo del rispetto di un codice deontologico, e l'obbligo di stipulare
          un'assicurazione professionale che tuteli cliente e professionista in caso di errori, ha l’obbligo della
          formazione professionale continua.</li>
          <li>Il rispetto del codice deontologico prevede anche il mantenimento del segreto professionale. Pertanto nessuna
            persona esterna allo studio professionale potrà mai essere informata di quanto il commercialista viene a
            conoscenza durante il rapporto professionale che lo lega all'azienda, a meno che non siano informazioni che è
            necessario comunicare alle autorità competenti in base ad obblighi di legge.</li>
          </ul>
            
          <h2>Affidarsi ad un dottore commercialista appartenente all'Albo dà qualche garanzia, non proprio trascurabile.</h2>
          <p>La Corte di Cassazione, con la sentenza n. 51362 depositata il 01/12/2016, ha nuovamente stabilito che è
            punibile chi esercita le attività riservate alla competenza specifica del commercialista, senza il possesso del titolo
            di studio ed abilitativo idoneo alle prestazioni offerte. La conseguenza è che “l’abusivo” non ha alcun titolo
            per ottenere il pagamento dei compensi. Questo principio dell’ordinamento giuridico, opera tutte le volte che
            ad esempio un soggetto, sia esso persona fisica o società, effettui delle prestazioni senza la necessaria abilitazione
            professionale, e quindi in modo abusivo.</p>
          <div class="centro">
            <a  href="http://ricerca.commercialisti.it/RicercaIscritti"><button class="centrobtn">Verifica qui se chi svolge adempimenti fiscali è abilitato</button></a>
          </div>
      
  </div>
  <div class="empty-right"></div>
  </div>

   <!-- Immagine dello studio senza carosello -->
<div class="w3-display-container w3-animate-opacity">
  <img src="../../../assets/img/studio.jpg" style="width:100%;min-height:350px;max-height:400px;">
</div>

<div class="fixed-top">
<app-menu></app-menu>
</div>

<cookie-law>
  <p class="cookie">Questo sito utilizza cookie propri e di terze parti necessari al funzionamento, ed utili alle finalità illustrate
    nella cookie policy. Se vuoi saperne di
    più o negare il consenso a tutti o ad alcuni cookie, consulta la cookie policy. Chiudendo questo banner
    cliccando sul tasto OK e proseguendo la navigazione in altra maniera, acconsenti all’uso dei cookie <a class="cookie" href="../../../assets/documents/cookie.pdf">clicca per avere più info sui cookie</a></p>
  
</cookie-law>

<app-footer></app-footer>

  <!--appena ti passa le immagini cambiale e mettile nella cartella assets del progetto e poi cambia il percorso il carosello è da rimpicciolire-->
<!--
  <agm-map [latitude]="map.lat" [longitude]="map.lng" style="height: 300px">
    <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
  </agm-map>
-->