<div class="wrapper">
  <div class="container">
    <div class="container-left">
      <div class="content">
        <h2>Studio Cavicchiolo</h2>
        <p>"Forniamo servizi di consulenza in materia amministrativa, gestionale, tributaria,
          legale e commerciale alla piccola e media impresa ed alla persona"</p> <br>
        <p class="boldtext">Studio Commercialisti Como</p>
        <p>Como, via Manzoni n. 18</p>
        <p class="boldtext">Studio Commercialisti Milano</p>
        <p>Milano, via Guido D’Arezzo n. 15</p> <br>
        <p>Telefono: +39.031.33.700.10</p>
        <p>Fax: +39.031.29.97.56</p>
      </div>
    </div>
    <div class="container-right">
      <div class="title">
        <h2 id="titolo"><strong>Hai una richiesta? Contattami</strong></h2>
      </div>
      <div class="separator">
        <hr>
      </div>
      <form  [formGroup]="feedform" (ngSubmit)="onSubmit(feedform)" >
        <div class="name">
          <div class="name-left">
            <label for="nome">Nome</label>
          </div>
          <div class="name-right">
            <input type="text"  id="nome"  required formControlName="nome" class="person">
          </div>
        </div>  
        <div class="surname">
          <div class="surname-left">
            <label for="cognome">Cognome</label>
          </div>
          <div class="surname-right">
            <input type="text"  id="cognome"  required formControlName="cognome" class="person">
          </div>
        </div>           
        <div class="mail">
          <div class="mail-left">
            <label for="email">Email</label>
          </div>
          <div class="mail-right">
            <input type="email"  id="email"  required formControlName="email" class="email">
          </div>
        </div>
        <div class="telephone">
          <div class="telephone-left">
            <label for="telefono">Telefono</label>
          </div>
          <div class="telephone-right">
            <input type="text"  id="telefono"  required formControlName="telefono" class="phone">
          </div>
        </div>
        <div class="request">
          <div class="request-left">
            <label for="commenti">Richiesta</label>
          </div>
          <div class="request-right">
            <input type="text"  id="commenti"  required formControlName="commenti" >
          </div>
        </div>
        <div class="button">
          <button type="submit" class="send">Invia Richiesta</button>
        </div>
      </form>
    </div>
  </div>
  <div class="container-bottom">
    <div class="copyright">
      <p>© 2018 Studio Cavicchiolo - Dottori Commercialisti Revisori ufficiali dei conti - Milano - Como - P.IVA 02192620132</p>
    </div>
  </div>
</div>

